<div id="hamburger-menu">
    <button type="button" class="menu-button" ng-click="openMenu()"></button>
    <div class="modal-backdrop fade  in" ng-click="closeHamburgerMenu()"></div>
    <div class="" id="menu-list">
        <div class="menu-profile-pic"><img src="assets/profile-pic.png"></div>
        <div class="menu-profile-name">Mr. John Doe Levinson</div>
        <ul class="ul-nav-bar">
            <li class="active">
                <a href="#/cvmHome" class="home-menu">
                    <div class="home-menu-img"></div>
                    Home</a>
            </li>
            <li>
                <a href="#/agendaOverview" class="view-agenda-menu">
                    <div class="view-agenda-menu-img"></div>
                    View Agenda</a>
            </li>
            <li>
                <a href="#/cscFactsheet" class="facts-menu">
                    <div class="facts-menu-img"></div>
                    Factsheets</a>
            </li>
            <li>
                <a href="#/spoc" class="contact-menu">
                    <div class="contact-menu-img"></div>
                    Contact SPOC</a>
            </li>
            <li>
                <a href="#/overallFeedback" class="feedback-menu">
                    <div class="feedback-menu-img"></div>
                    Feedback</a>
            </li>
            <li>
                <a href="#/execBios" class="exec-menu">
                    <div class="exec-menu-img"></div>
                    Executive BIO'S</a>
            </li>
            <li>
                <a href="#/myVisits" class="past-visits-menu">
                    <div class="past-visits-menu-img"></div>
                    Past Visits</a>
            </li>
            <li>
                <a href="#" class="settings-menu">
                    <div class="settings-menu-img"></div>
                    Settings</a>
            </li>
            <li>
                <a href="#/login" class="logout-menu">
                    <div class="logout-menu-img"></div>
                    Logout</a>
            </li>
        </ul>
    </div>
</div>
